.highlight {
  @extend %fx;
  background-image: linear-gradient(transparent calc(100% - 0.7em), #d5f4f0 0);
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
}

.underline {
  @extend %fx;
  background-image: linear-gradient(
    transparent calc(100% - 0.05em),
    #ff7c88 0.05em
  );
}
.hover-card1 {
  display: flex;
  height: 110%;
  /* background-color: #ffe9ed  */
  transition: background-color 0.8s, transform 1s;
}

.hover-card1:hover {
  background-color: #f6eec5 !important;
  transform: scale(1.05);
  height: 90% !important;
}
.hover-card2 {
  display: flex;
  height: 110%;
  /* background-color: #ffe9ed  */
  transition: background-color 0.8s, transform 1s;
}

.hover-card2:hover {
  background-color: #ecc8ec !important;
  transform: scale(1.05);
  height: 90% !important;
}
.hover-card3 {
  display: flex;
  height: 110%;
  /* background-color: #ffe9ed  */
  transition: background-color 0.8s, transform 1s;
}

.hover-card3:hover {
  background-color: #b0e6bd !important;
  transform: scale(1.05);
  height: 90% !important;
}
.dashCard {
  margin-bottom: 0.5em;
  color: rgba(201, 214, 241, 0.88);
  font-weight: 600;
  font-size: 22px;
  line-height: 2.4;
}
